.cis260special {
    color:rgb(189, 48, 57);
    
    
}

.main-nav {
    text-transform: uppercase;
    font-size: 150%;
    text-decoration-color:rgb(189, 48, 57);
    
}
#cis-special-parent a {
    color: rgb(189, 48, 57)
    
}