a{
    color: darkblue;
    text-decoration: none;
    list-style: none;
    
   
    
    
}



header nav ul{
    display: flex;
    justify-content: flex-end;
}

header nav li {
    list-style-type: none;
    padding: 1em;
}

.cis260special {
    color:rgb(189, 48, 57);
    font-size: 50px
    
        
}

html {
    box-sizing: border-box ;
    margin: 0;
    color: #ccc;
}


.main-nav {
    display: flex; 
    text-transform: uppercase;
    font-size: 150%;
    text-decoration-color:rgb(189, 48, 57);
    flex-direction:column;
    justify-content: flex-end;
/*    background-image: linear-gradient(rgb(189, 48, 57), #FFFFFF);*/
        
   
        
    
}
form {
    display: flex;
    flex-direction: column;
    padding: 4em;
    

}

form label {
    flex-basis: 33%;
}
form p{
    display: flex;
    align-content: center;
    font-size: 15px;
}



#cis-special-parent a {
    color: rgb(189, 48, 57) 
        
    
}

h1{
    color: rgb(189, 48, 57);
    font-size: 50px
}

h2{
    color: rgb(189, 48, 57);
    font-size: 50px;
    text-align: center
    
        
}


.pic{
    object-fit: cover;
     object-position: 54%;
    width: 300px ;
    height: 337px;
    flex: 1;

    
    
}
.box{
    display: flex;
    flex-direction: row;
    flex: 2;
    padding: 3em;
padding-right: 1em;
    font-size: 25px;
    align-content: center;
    text-align: center;
    
    
    
        
        
}


.quote{
    color: rgb(189, 48, 57);
    font-size: 25px;
    background-color:rgba(57, 62, 175, 0.59);
    justify-content: center;
    text-align: center;
        
}
body{

    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(Images/new.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-attachment:fixed;
}

.hero-text {
    padding: 3em;
    display: flex;
    flex-direction: column;
    flex: 5;
    color: rgb(189, 48, 57);
    align-content: center;
   

/*    
    
    
    background-size: cover ;
    background-position: center ;
    min-height: 100vh;
    
/*    display: flex ;*/
/*    flex-direction: row*/
           
}

main {
    display: flex ;
    align-items: center;
    flex: 1;
    flex-direction:column;
    
}

p{
    color:#ffffff;
    font-size: 25px;
   
}
.heading{
    background-color:rgba(0, 0, 136, 0.6);
}


.container__item {
    
    width: 100px;
    height: 100px;
    flex-direction: row
}

footer {
    background-color: #eb7e7e;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-top-style: solid;
    border-top-color: darkblue;
    
}
footer a{
    font-size: 25px;
}
/*
ul{
    list-style-type: none
}
*/

a:hover{
    color: aliceblue
}
a:visited{
    text-decoration: none;
    
    

}




nav{
    display: flex;
    flex-direction:
}